body {
  font-family: "Raleway", sans-serif;
}

.nav-link:hover {
  background-color: rgb(147, 109, 14);
}

#Profile-Section {
  background-image: url("../img/bg-profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

#About-me {
  padding-top: 5em;
  padding-bottom: 5em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.carousel {
  height: 45em;
  width: auto;
}

.carousel-indicators .active {
  background-color: rgb(147, 109, 14);
}

.carousel-item img {
  height: 40em;
  width: auto;
  margin: auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
 }

.accordion-button {
  font-size: inherit;
  color: #e8e8e8;
  background: rgb(147, 109, 14);
}

.accordion-button::after {
  filter: brightness(0%) invert(100%);
}

.accordion-button:not(.collapsed) {
  font-size: inherit;
  color: #e8e8e8;
  background: rgb(147, 109, 14);
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(100%);
}

.accordion-button:focus {
  box-shadow: inherit;
}

.accordion-body {
  border: solid 1px rgb(99, 75, 14);
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: rgb(147, 109, 14);
  color: #e8e8e8;
}

@media screen and (max-width: 1200px) {
  #Profile-Text {
    background-color: rgb(128, 128, 128, 0.7);
    padding: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  #Profile-Text {
    background-color: rgb(128, 128, 128, 0.8);
    padding: 0.5em;
  }
}

@media screen and (max-width: 576px) {
  .carousel {
    height: 30em;
    width: auto;
  }
  
  .carousel-item img {
    height: 25em;
    width: auto;
    margin: auto;
  }
}

@media screen and (max-width: 412px) {
  .carousel {
    height: 25em;
    width: auto;
  }
  
  .carousel-item img {
    height: 20em;
    width: auto;
    margin: auto;
  }

  .hide-text {
    display: none;
  }
}
