body {
  font-family: "Raleway", sans-serif;
}

#Profile-Section {
  background-image: url("../img/bg-profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.singleCol {
  max-width: 750px;
  margin: 0 auto;
}

.carousel {
  height: 55em;
  width: 60em;
}

.carousel-indicators .active {
  background-color: rgb(147, 109, 14);
}

.carousel-item img {
  height: 50em;
  width: 80%;
  margin: auto;
}

.accordion-button {
  font-size: inherit;
  color: #e8e8e8;
  background: rgb(31, 31, 31);
}

.accordion-button::after {
  filter: brightness(0%) invert(70%);
}

.accordion-button:not(.collapsed) {
  font-size: inherit;
  color: #e8e8e8;
  background: rgb(31, 31, 31);
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(70%);
}

.accordion-button:focus {
  box-shadow: inherit;
}

.accordion-body {
  border: solid 1px rgb(31, 31, 31);
}
